@use './../../styles/global' as *;
@use './../../styles/mixins' as *;

.block5 {
  @extend %grid;
  grid-auto-flow: row;
  width: 100%;
  position: relative;

  @include on-mobile {
    margin-top: 60px;
  }

  .text_box {
    display: flex;
    flex-direction: column;
    gap: 35px;

    grid-column: 1/7;

    @include on-mobile {
      gap: 15px;
    }
  }

  .name {
    font-family: var(--font-paragraph-medium);
    font-size: 28px;
    font-weight: 500;
    text-transform: uppercase;
    color: var(--color-burgundy);
    margin: 0;
    margin-top: 65px;
    width: 80%;

    @include on-tablet {
      font-size: 2.8vw;
      margin-top: 30px;
    }

    @include on-mobile {
      font-size: 24px;
      text-align: center;
      width: 100%;
      margin-top: 15px;
    }
  }

  .text {
    @extend %body-text;
    font-size: 20px;
    line-height: 28px;

    @include on-tablet {
      font-size: 16px;
      line-height: 22px;
    }

    @include on-mobile {
      text-align: center;
    }
  }

  .img {
    width: 430px;
    grid-column: 7/-1;
    margin-left: 15px;
    margin-top: -25px;

    @include on-mobile {
      margin-top: 20px;
      margin-left: 7px;
      margin-bottom: -20px;
    }
  }

  .lv_background {
    position: absolute;
    user-select: none;
    z-index: -1;
    width: 310px;
    top: -85px;
    right: 130px;

    @include on-tablet {
      width: 30vw;
      top: -50px;
      right: -30px;
    }

    @include on-mobile {
      display: none;
    }
  }
}
