@use './../../styles/global' as *;
@use './../../styles/mixins' as *;

.block4 {
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 20px 20px;

  @include on-tablet {
    padding: 40px 40px;
    gap: 30px;
  }

  @include on-mobile {
    padding-bottom: 0px;
  }

  button {
    border: none;
    width: 280px;
    height: 70px;
    background-color: var(--color-burgundy);

    @extend %buttons-text;
    color: white;

    @include on-tablet {
      width: 260px;
      height: 60px;
    }

    &:hover {
      background-color: var(--color-burgundy-translucent);
    }
  }
}

.title {
  @extend %uppercase;
  color: black;
  font-size: 30px;
  line-height: 38px;
  text-align: center;
  width: 40%;

  @include on-tablet {
    font-size: 20px;
    line-height: 25px;
    width: 57%;
  }

  @include on-mobile {
    font-size: 20px;
    line-height: 25px;
    width: 90%;
  }
}
