@use './../../styles/global' as *;
@use './../../styles/mixins' as *;

.header {
  display: flex;
  position: relative;

  .menu_icon {
    display: none;
    width: 27px;

    @include on-mobile {
      display: flex;
    }
  }

  @include on-tablet {
    margin-bottom: 40px;
  }

  @include on-mobile {
    z-index: 9;
    background-color: white;
    padding: 10px 20px 7px;
    position: fixed;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;

    .icons_box {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 25px;
    }
  }
}
