@use './../../styles/global' as *;
@use './../../styles/mixins' as *;

.footer {
  @extend %grid;
  grid-auto-flow: row;
}

.box1,
.box2,
.box3 {
  display: flex;
  flex-direction: column;
  width: max-content;
  gap: 3px;

  @include on-tablet {
    gap: 10px;
  }
}

.box1 {
  grid-column: 1/3;
}

.box2 {
  grid-column: 4/6;
  margin-left: -60px;
  margin-top: 20px;

  @include on-tablet {
    margin-left: 0;
  }

  @include on-mobile {
    margin-top: 0;
  }
}

.box3 {
  grid-column: 7/-1;
  margin-left: -60px;
  margin-top: 20px;

  @include on-tablet {
    margin-left: 0;
  }

  @include on-mobile {
    grid-column: 1/3;
    margin-top: 30px;
  }
}

.logo {
  height: 86px;
  width: 68px;
  object-fit: contain;
  margin-bottom: 20px;
}

.social_media_box {
  display: flex;
  flex-direction: row;
  gap: 7px;

  @include on-tablet {
    gap: 10px;
  }

  & a {
    display: flex;
    height: 25px;
    width: 25px;

    @include on-tablet {
      height: 30px;
      width: 30px;
    }
  }
}

.link {
  @extend %link;
}
